*{
    box-sizing: border-box;
}
header{
    align-items: center;
    background: lightgray;
}
header,h1,h2{
    padding: 10px;
    
}
h2{
    align-content: center;
    margin: 10px;
}
body{
    background-color: rgb(13, 255, 0);
}
/* id */
#logo{
    width: 100%;
    max-width: 350px;
    justify-content: center;
}
#contact{
  text-align: center;
  font-size: 1.2em;
  border: 1px black double;
  border-radius: 60px;
  padding: 10px;
  margin: 20px;
  background: lightslategray;
}
#geekfest{
    width: 600px;
}
/* classe */
